@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--mantine-color-white);
    --foreground: var(--mantine-color-black);
    --card: var(--mantine-color-white);
    --card-foreground: var(--mantine-color-black);
    --popover: var(--mantine-color-white);
    --popover-foreground: var(--mantine-color-black);
    --primary: var(--mantine-color-blue-6);
    --primary-foreground: var(--mantine-color-white);
    --secondary: var(--mantine-color-gray-6);
    --secondary-foreground: var(--mantine-color-white);
    --muted: var(--mantine-color-gray-2);
    --muted-foreground: var(--mantine-color-black);
    --accent: var(--mantine-color-teal-6);
    --accent-foreground: var(--mantine-color-white);
    --destructive: var(--mantine-color-red-6);
    --destructive-foreground: var(--mantine-color-white);
    --border: var(--mantine-color-gray-4);
    --input: var(--mantine-color-gray-0);
    --ring: var(--mantine-color-blue-4);
    --radius: var(--mantine-radius-default);
    --chart-1: var(--mantine-color-blue-6);
    --chart-2: var(--mantine-color-green-6);
    --chart-3: var(--mantine-color-orange-6);
    --chart-4: var(--mantine-color-purple-6);
    --chart-5: var(--mantine-color-pink-6);
  }

  .dark {
    --background: var(--mantine-color-dark-7);
    --foreground: var(--mantine-color-dark-0);
    --card: var(--mantine-color-dark-6);
    --card-foreground: var(--mantine-color-dark-0);
    --popover: var(--mantine-color-dark-6);
    --popover-foreground: var(--mantine-color-dark-0);
    --primary: var(--mantine-color-blue-4);
    --primary-foreground: var(--mantine-color-dark-9);
    --secondary: var(--mantine-color-gray-4);
    --secondary-foreground: var(--mantine-color-dark-9);
    --muted: var(--mantine-color-gray-6);
    --muted-foreground: var(--mantine-color-dark-0);
    --accent: var(--mantine-color-teal-4);
    --accent-foreground: var(--mantine-color-dark-9);
    --destructive: var(--mantine-color-red-4);
    --destructive-foreground: var(--mantine-color-dark-9);
    --border: var(--mantine-color-dark-4);
    --input: var(--mantine-color-dark-5);
    --ring: var(--mantine-color-blue-4);
    --radius: var(--mantine-radius-default);
    --chart-1: var(--mantine-color-blue-4);
    --chart-2: var(--mantine-color-green-4);
    --chart-3: var(--mantine-color-orange-4);
    --chart-4: var(--mantine-color-purple-4);
    --chart-5: var(--mantine-color-pink-4);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: var(--mantine-spacing-md);
  }
}